a.skip {
  left: 10px;
  padding: 6px;
  position: absolute;
  top: -40px;
}

a.skip:focus {
  left: 10px;
  top: 10px;
  text-decoration-style: dotted;
}

/* Default Mobile View */
header, footer {
  background-color: #343a40;
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  font-family: "FZYaoTi", Helvetica, Georgia, "Times New Roman";
}

header {
  border-bottom: 5px dotted white;
}

footer {
  border-top: 5px dotted white;
  color: white;
}

img.logo {
  height: 150px;
}

li {
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
}
li a {
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 3px;
  text-decoration: none;
}
li a:hover {
  background-color: #f5cb5c;
  box-shadow: 8px 8px 2px 1px #F3E2A9;
  border-radius: 10px;
}
li a.active {
  background-color: #f4acb7;
  box-shadow: 8px 8px 2px 1px #f0af9c;
  border-right: black 3px solid;
  border-bottom: black 3px solid;
  border-left: white 3px solid;
  border-top: white 3px solid;
  border-radius: 10px;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 35px;
  padding: 12px;
  margin-bottom: 10px;
  font-family: "FZYaoTi", Helvetica, Georgia, "Times New Roman";
}

p.click {
  background-color: #00569D;
  padding: 10px;
  color: white;
}

div.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.me {
  width: 40%;
  margin: 10px;
}

h2 {
  width: 100%;
  font-size: 25px;
  font-family: "FZYaoTi", Helvetica, Georgia, "Times New Roman";
  text-align: center;
  margin-top: 10px;
  border-top: 5px #3a3b3c double;
  padding: 10px 0;
}

main p {
  text-align: center;
  font-family: "FZYaoTi", Helvetica, Georgia, "Times New Roman";
  font-size: 18px;
  margin-bottom: 10px;
}

a.direct {
  background-color: #4c5c68;
  border-radius: 5px;
  color: white;
  padding: 3px;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: "FZYaoTi", Helvetica, Georgia, "Times New Roman";
}

a.direct:hover {
  background-color: #FFBF00;
  box-shadow: none;
  border: solid black 1px;
  border-radius: 10px;
  color: black;
  padding: 3px;
  text-decoration: none;
}

.mypeople, .three-d, .soil {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
.mypeople img, .three-d img, .soil img {
  width: 70%;
}
.mypeople img:hover, .three-d img:hover, .soil img:hover {
  box-shadow: 8px 8px 2px 1px gray;
  margin: 10px;
  border: dotted black 4px;
  border-radius: 10px;
  color: black;
  padding: 3px;
  text-decoration: none;
}
.mypeople a, .three-d a, .soil a {
  text-align: center;
}

.mypeople h3 {
  grid-column: 1/-1;
  margin: 10px 0;
  font-size: 20px;
  font-family: "FZYaoTi", Helvetica, Georgia, "Times New Roman";
}

div.robotics, div.bubblehead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  width: 80%;
  height: 400px;
}

h3 {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  font-family: "FZYaoTi", Helvetica, Georgia, "Times New Roman";
}

/* Media Inquiry for Tablet size */
@media screen and (min-width: 700px) {
  img.logo {
    width: 25%;
  }
  ul {
    display: flex;
    flex-direction: row;
  }
  li {
    margin: 10px;
  }
  #main {
    background-color: #f8f9fa;
  }
  img.me {
    width: 25%;
    border: dashed 5px gray;
  }
  a.direct {
    background-color: white;
    border: 5px solid #4c5c68;
    color: black;
  }
  a.direct:hover {
    background-color: #f4acb7;
    border: 5px solid #4c5c68;
    color: black;
  }
  h2 {
    background-color: white;
    border-bottom: 5px #3a3b3c double;
  }
  .aboutme p, main p {
    margin-top: 10px;
  }
  h3 {
    background-color: #FA8258;
    width: 50%;
    padding: 10px;
  }
  .mypeople, .three-d {
    grid-template-columns: 1fr 1fr;
  }
  .mypeople img, .three-d img {
    width: 50%;
  }
  a.singapore, a.friend, a.woorinara {
    grid-column: 1/-1;
    width: 50%;
  }
  div.work {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  video {
    width: 40%;
    height: 350px;
  }
  a.chess, a.charm {
    grid-column: 1/-1;
  }
  img.chess, img.charm {
    width: 30%;
  }
  div.soil {
    grid-template-columns: 1fr 1fr;
  }
}
/* Media Inquiry for Laptop size */
@media screen and (min-width: 1250px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  img.me {
    width: 18%;
  }
  .mypeople {
    grid-template-columns: 2fr 2fr 2fr;
  }
  .mypeople img {
    width: 60%;
  }
  a.singapore, a.friend {
    grid-column: 1/span 1;
    width: 100%;
  }
  a.Yena {
    grid-column: 1/-1;
    width: 33.3%;
  }
  a.woorinara {
    grid-column: 3/-1;
    width: 100%;
  }
  video {
    width: 30%;
    height: 400px;
  }
  div.three-d, div.soil {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .three-d img {
    width: 60%;
  }
  a.chess {
    grid-column: 1/span 1;
  }
  img.charm {
    width: 70%;
  }
  a.charm {
    grid-column: 3/-1;
  }
}/*# sourceMappingURL=style.css.map */